main {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main div {
    flex: 1;
}

textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 12px;
    resize: none;
}

h1 {
    margin-left: 1rem;
}

h2 {
    margin-left: 1rem;
    margin-bottom: 0;
}